/* font config */

@font-face {
    font-family: 'ostrich_1';
    src:url(font/ostrich/ostrichsans-medium-webfont.woff2)

}

@font-face {
    font-family: 'ostrich 2';
    src: url(./font/ostrich/ostrichsans-heavy-webfont.woff2);
}

@font-face {
    font-family: 'ostrich 3';
    src: url(./font/ostrich/ostrich-regular-webfont.woff);
}

@font-face {
    font-family: 'Lato';
    src: url(./font/Lato/lato-semibold-webfont.woff2);
}

@font-face {
    font-family: 'antonio';
    src: url(./font/Antonio/antonio-light-webfont.woff2);
}

@font-face {
    font-family: 'roboto';
    src: url(./font/roboto/roboto-medium-webfont.woff2);
}

@font-face {
    font-family: 'roboto light';
    src: url(./font/roboto/robotocondensed-light-webfont.woff2);
}
/* font config end */

.navbar-nav {
    margin-left: auto;
}
.navbar {
    background-image: linear-gradient(to right ,crimson 20%,black 70%)
}

.navbar-brand {
    font-family: 'antonio','sans-serif';
    font-size: 30px;
}

.nav-link {
    font-family: 'Lato','sans-serif';
}

.project {
    background-color: crimson;
}

.project:hover {
    background-color: black;
    transition: 1s;
}

.nav-item:hover {
    background-color: crimson;
    color: black;
    transition: ease 1s;
}

.jumbotron {
    padding-top: 10rem;
    background-image: url(./img/web\ banner.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.display-4 {
    font-family: 'antonio',sans-serif;
}

.lead {
    font-family: 'antonio',sans-serif;
}

.img {
    display: flex;
    justify-content: center;
}

.clearfix {
    overflow: auto;
}

.pt-5 {
    font-family: 'antonio','sans-serif';
}
p {
    font-family: 'Helvetica';
}

h3 {
    font-family: 'antonio','sans-serif';
}

h2 {
    font-family: 'antonio','sans-serif';
}

.copyright {
    font-size: 10px;
}

